[tool.poetry]
name = "pyzeebe"
version = "3.0.4"
description = "Zeebe client api"
authors = ["Jonatan Martens <jonatanmartenstav@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/camunda-community-hub/pyzeebe"
repository = "https://github.com/camunda-community-hub/pyzeebe"
documentation = "https://pyzeebe.readthedocs.io/en/latest"
keywords = ["zeebe", "workflow", "workflow-engine"]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent"
]
packages = [
    { include = "pyzeebe" },
]

[tool.poetry.dependencies]
python = "^3.8"
oauthlib = "~=3.1.0"
requests-oauthlib = "~=1.3.0"
aiofiles = ">=0.7,<0.9"
zeebe-grpc = "^8.0.4.post1"

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.0"
pytest-asyncio = "^0.21.1"
pytest-grpc = "^0.8.0"
pytest-mock = "^3.11.1"
pylint = "^2.17.5"
black = ">=23.7,<25.0"
mypy = "^1.4.1"
coveralls = "^3.3.1"
asyncmock = "^0.4.2"
responses = "^0.23.2"
bump2version = "^1.0.1"
sphinx-rtd-theme = "^1.2.2"
sphinx = "^6"
importlib-metadata = "^6.8.0"

[[tool.mypy.overrides]]
module = [
  "grpc", 
  "oauthlib", 
  "requests_oauthlib", 
  "zeebe_grpc.gateway_pb2", 
  "zeebe_grpc.gateway_pb2_grpc", 
  "requests", 
  "aiofiles"
]
ignore_missing_imports = true


[tool.pylint.master]
max-line-length = 120
disable = ["C0114", "C0115", "C0116"]

[tool.black]
line-length = 120

[tool.isort]
profile = "black"

[tool.pytest.ini_options]
asyncio_mode = "auto"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
