[tool.poetry]
name = "pyzeebe"
version = "3.0.0"
description = "Zeebe client api"
authors = ["Jonatan Martens <jonatanmartenstav@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/JonatanMartens/pyzeebe"
repository = "https://github.com/JonatanMartens/pyzeebe"
documentation = "https://pyzeebe.readthedocs.io/en/latest"
keywords = ["zeebe", "workflow", "workflow-engine"]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent"
]
packages = [
    { include = "pyzeebe" },
]

[tool.poetry.dependencies]
python = "^3.6"
oauthlib = "~=3.1.0"
requests-oauthlib = "~=1.3.0"
zeebe-grpc = "~=1.0.0"
aiofiles = "~=0.7.0"

[tool.poetry.dev-dependencies]
autopep8 = "~=1.5.4"
pylint = "~=2.7.2"
coverage = "~=5.5"
pytest = "~=6.2.2"
pytest-grpc = "~=0.8.0"
mypy = "~=0.812"
coveralls = "~=2.2.0"
importlib-metadata = "~=3.7.3"
sphinx = "~=3.5.2"
sphinx-rtd-theme = "*"
pytest-mock = "*"
pytest-asyncio = "~=0.15.1"
asyncmock = "~=0.4.2"
bump2version = "~=1.0.1"
responses = "~=0.13.3"
black = {version = "^21.9b0", python = ">=3.6.2,<4.0"}

[[tool.mypy.overrides]]
module = [
  "grpc", 
  "oauthlib", 
  "requests_oauthlib", 
  "zeebe_grpc.gateway_pb2", 
  "zeebe_grpc.gateway_pb2_grpc", 
  "requests", 
  "aiofiles"
]
ignore_missing_imports = true


[tool.pylint.master]
disable = ["C0114", "C0115", "C0116"]

[tool.black]
line-length = 120

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
