name: Publish

on:
  release:
    types: [created, prereleased]

jobs:
  publish:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Init python poetry action
        uses: abatilo/actions-poetry@v3.0.0
        with:
          poetry-version: '1.8.3'
      - name: Install dependencies
        run: poetry install
      - name: Build and publish
        env:
          POETRY_PYPI_TOKEN_PYPI: ${{ secrets.PYPI_TOKEN }}
        run: |
          poetry build
          poetry publish
