name: Test pyzeebe

on: [push, pull_request]

jobs:
  # 3.6 and 3.7 only for passing branch rules
  # https://github.com/camunda-community-hub/pyzeebe/issues/381#issuecomment-2107430780
  unit-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.6", "3.7", "3.8", "3.9", "3.10", "3.11", "3.12"]

    container: python:${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v2
      - name: Init python poetry action
        uses: abatilo/actions-poetry@v2.4.0
        with:
          poetry-version: 1.5.1
        if: ${{ matrix.python-version != '3.6' && matrix.python-version != '3.7' }}
      - name: Install dependencies
        run: poetry install
        if: ${{ matrix.python-version != '3.6' && matrix.python-version != '3.7' }}
      - name: Test with pytest
        run: |
          poetry run coverage run --source=pyzeebe -m pytest tests/unit
        if: ${{ matrix.python-version != '3.6' && matrix.python-version != '3.7' }}
      - name: Upload to coveralls
        run: |
          poetry run coveralls --service=github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: ${{ matrix.python-version != '3.6' && matrix.python-version != '3.7' }}

  integration-test:
    env:
      ZEEBE_ADDRESS: "zeebe:26500"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        zeebe-version: ["1.3.14", "8.1.22", "8.2.21", "8.3.5", "8.4.1"]

    container: python:3.11

    services:
      zeebe:
        image: camunda/zeebe:${{ matrix.zeebe-version }}
        ports:
          - 26500/tcp

    steps:
      - uses: actions/checkout@v2
      - name: Init python poetry action
        uses: abatilo/actions-poetry@v2.4.0
        with:
          poetry-version: 1.5.1
      - name: Install dependencies
        run: poetry install
      - name: Sleep for 30 seconds
        uses: jakejarvis/wait-action@master
        with:
          time: "30s"

      - name: Run integration tests
        run: |
          poetry run pytest tests/integration
